In [6]:
import pandas as pd

purchase_data = pd.read_csv("Resources/purchase_data.csv")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
count_by_sn = len(purchase_data["SN"].unique())
total_player_df = pd.DataFrame({"Total Players":[count_by_sn]})
total_player_df

   Total Players
0            576

In [41]:
num_unique_items = len(purchase_data["Item Name"].unique())
avg_purchase_price = purchase_data["Price"].mean()
num_purchases = len(purchase_data["Purchase ID"])
revenue = purchase_data["Price"].sum()

format_dict = {"Average Purchase Price":"${0:,.2f}", "Total Revenue":"${0:,.2f}"}

purchasing_analysis =pd.DataFrame({"Number of Unique Items":[num_unique_items],
                                   "Average Purchase Price":avg_purchase_price,
                                   "Total Number of Purchases":[num_purchases],
                                   "Total Revenue":revenue}
purchasing_analysis.style.format(format_dict)

In [87]:
sn_gender_df = purchase_data.set_index("Gender")
sn_male_df = sn_gender_df.loc[["Male"], ["SN"]]
sn_female_df = sn_gender_df.loc[["Female"], ["SN"]]
sn_other_df = sn_gender_df.loc[["Other / Non-Disclosed"], ["SN"]]
unique_male_count = len(sn_male_df["SN"].unique())
unique_female_count = len(sn_female_df["SN"].unique())
unique_other_count = len(sn_other_df["SN"].unique())

percent_male = unique_male_count/count_by_sn
percent_female = unique_female_count/count_by_sn
percent_other = unique_other_count/count_by_sn

gender_demographics = pd.DataFrame({"Gender":["Male", "Female", "Other / Non-Disclosed"],
                                    "Total Count":[unique_male_count, unique_female_count, unique_other_count],
                                    "Percentage of Players":[percent_male, percent_female, percent_other]})
gender_demographics.style.format({"Percentage of Players":"{:.2%}"}).hide_index()

In [ ]:
_